# Dependency directories
.gulp-scss-cache/
.nyc_output/
.vscode/
coverage/
dist/
install/
library/
logs/
node_modules/
sessions/
src/
.babelrc
config_*
ecosystem.config.js
gulpfile.js
main_bundle.js
package*
tsconfig.json
version_local.json
webpack*
zz*
.DS_Store
.local-chromium
*.swp
book.md
nohup.out
~*
