.gulp-scss-cache/
.nyc_output/
.DS_Store
.local-chromium
.babelrc
.env
dist
cache
*.swp
*.pyc
~*
zz*

__pycache__/
coverage/
dist/
lib/
install/
library/
logs/
out/
build/
node_modules/
prisma/files/
prisma/migrations/
sessions/
package-lock.json
pnpm-lock.yaml
config_*
ecosystem.config.js
gulpfile.js
main_bundle.js
webpack*
book.md
nohup.out
.vitepress/dist
.vitepress/cache