# Dependency directories
.gulp-scss-cache/
.nyc_output/
.DS_Store
.local-chromium
.babelrc
*.swp
~*
zz*
coverage/
dist/
install/
library/
logs/
node_modules/
sessions/
config_*
ecosystem.config.js
gulpfile.js
main_bundle.js
version_local.json
webpack*
book.md
nohup.out
package-lock.json
package.json
